* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.retangulo_containrer {
    margin: auto;
    width: 90%;
    height: 60vh;
    border: 1px solid #b4ebff;
    position: relative;
}

/* retangulo rosa inicio */
.retangulo {
    margin: auto;
    margin-top: 7%;
    width: 80%;
    height: 70%;
    background: linear-gradient(to bottom, #ff90e0, #ff9ac4);
    border-radius: 5px;
    border: #bd519f solid 3px;
}

/* capricho logo */
.capricho_logo img {
    position: absolute;
    z-index: 1;
    width: 45%;
    height: auto;
    top: 1%;
    left: 6%;
}

/* login pesquisar feedbcak */
.login img {
    width: 50%;
    height: auto;
    margin-left: 50%;
}

/* dia */
.dia img {
    position: absolute;
    z-index: 1;
    width: 30%;
    height: auto;
    top: 40%;
    left: 10%;
}

/* navegaçao */

.botoesg {
    display: flex;
    flex-direction: row;
    z-index: 7;
    left: 10%;
    top: 35%;
    position: absolute;
}

.botoesg img{
    width: 14.5%;
    height: auto;
    transition: 0.6s ease;
}

.botoesg img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(1.1);
}

.imagem_circulo img {
    position: absolute;
    width: 72%;
    height: auto;
    z-index: 8;
    top: 40%;
    transform: translateX(19.4%);
    
}

.catalogo_containrer {
    margin: auto;
    width: 72.1%;
    height: 105vh;
    position: relative;
    z-index: 7;
    top: 10%;
    background: linear-gradient(to bottom, #fffceb, #ffe3c9);
    border: #fffceb solid 4px;
}

.b {
    margin: auto;
    width: 72.1%;
    height: 10vh;
    position: relative;
    z-index: 9;
    top: 10%;
}

/* marquee*/

.imagem_baner img {
    position: absolute;
    width: 65%;
    height: auto;
    z-index: 9;
    top: 45%;
    transform: translateX(26.5%);
}

.texto_rolante {
    position: absolute;
    width: 65%;
    height: 16.5%;
    z-index: 10;
    top: 50%;
    transform: translateX(26.5%);
    border: 1px;
    overflow: hidden;
}

.texto-rolante {
    white-space: nowrap; 
    animation: marquee 30s linear infinite;
    display: inline-block; 
    color: #ffffff; 
    font-size: 5.1em; 
    z-index: 100;
    min-width: 100%; 
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
}

@keyframes marquee {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}


/* catalago*/

.catalago_retangulo {
    width: 90%;
    height: 90vh;
    margin-top: 8%;
    margin-left: 5%;
    overflow-y: auto;
    background-color: #f1ffc4;
    border-radius: 4px;
    border: #8dc07b dashed 4px;
}

.catalago_retangulo p{
    font-size: 3.1em; 
    min-width: 100%; 
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #ae5dff;
}


.catalago_retangulo img{
    width: 21%;
    height: auto;
    transition: 0.6s ease;
    margin: 5%;
}

.catalago_retangulo img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(1.1);
}

